{% extends 'todo/base.html' %}

{% load static %}

{% block title %}

ایجاد نوشته
  
{% endblock %}


{% block script %}


{% endblock %}


{% block main %}
{% load crispy_forms_tags %}
<section class="content-section" id="portfolio">
    <div class="container px-4 px-lg-5">
      <div class="content-section-heading text-center">  
                    <h3 class="mb-5 my-2">لطفا فرم زیر را کامل کنید</h3>
      </div>
      <div class="row gx-0">
                  <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                          <div class="mb-5">
                            {{ form.title|as_crispy_field }}
                          </div>
                          <div class="mb-5">
                              {{ form.time|as_crispy_field }}
                          </div class="mb-5">
                          <div class="mb-5">
                            {{ form.desc|as_crispy_field }}
                          </div class="mb-5">
                          {% if user.is_superuser %}
                            <div class="mb-5">
                              {{ form.writer|as_crispy_field }}
                            </div>
                          {% endif %}
                          <button class="btn btn-success my-3">افزودن نوشته</button>
                  </form>
      </div>  
    </div>
</section>
{% endblock %}