{% extends 'todo/base.html' %}

{% load static %}


{% block main %}
<section class="content-section" id="portfolio">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading text-center">
                    <h3 class="mb-5">لیست نوشته ها</h3>
                </div>
            {% for note in notes %}
                <!-- <div class="card mb-5" style="width: 100%;">
                      <div class="card-body text-center">
                        <h5 class="card-title">{{ note.title }}</h5>
                        <p class="card-text">{{ note.desc|truncatewords:10 }}</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                      </div>
                </div> -->
                <div class="card text-center border-dark mb-5">
                      <div class="card-header bg-danger text-white">
                        <h5>
                          {{ note.title }}
                        </h5>
                      </div>
                      <div class="card-body">
                        <p class="card-text">{{ note.desc|truncatewords:10 }}</p>
                        <!-- <a href="#" class="btn btn-primary">ویرایش مقاله</a> -->
                      </div>
                      <div class="card-footer border-dark text-black">
                        {{ note.time }}
                      </div>
                </div>
            {% endfor %}
            </div>
</section>
{% endblock %}